// colors variable
$primary-color: #2196f3;
$secondary-color: #424242;
$text-color: #10131A;
$white:#ffffff;

//Text and heading variable
$heading: 1.5rem;
$sub-heading : 20px;
$regular-text : 16px;
$light-grey: #fafafa;
$dark-grey:#414141;
$dark-grey-deep:#181818;