/* basic settings */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  line-height: 1.42;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  /* to smooth fonts */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative; }

.container {
  max-width: 1192px;
  margin: 0 auto; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

a {
  text-decoration: none; }

p {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fafafa; }

.btn {
  padding: 15px 40px;
  margin: 20px 0;
  background: #4788c8;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase; }
  .btn--white {
    background: #ffffff;
    color: #10131A; }
  .btn--dev {
    padding: 12px;
    background: #fafafa;
    color: #10131A;
    border: none; }

.sub-heading {
  font-size: 18px;
  color: #10131A;
  text-transform: uppercase;
  padding: 20px 0; }
  .sub-heading--normal {
    text-transform: none; }
  .sub-heading--color-white {
    color: #ffffff;
    text-transform: uppercase; }

.sub-heading span {
  font-weight: bold; }

.regular-text {
  text-align: left;
  line-height: 26px; }
  .regular-text--center {
    text-align: center; }
  .regular-text--left {
    text-align: left; }

.main-block {
  background: #fafafa; }

.header {
  background: #424242; }

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 100px 0; }
  .header-content__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #ffffff; }
  .header-content__info--italic {
    font-style: italic; }
  .header-content__info--regular {
    font-style: normal;
    color: gray;
    margin: 40px 0; }
  .header-content__image img {
    width: 100%; }

.speech-bubble {
  background: #4788c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 30px;
  color: #ffffff;
  position: relative; }
  .speech-bubble__text {
    font-style: italic;
    text-transform: uppercase; }
  .speech-bubble__text--regular {
    font-style: normal;
    font-weight: bold; }

.speech-bubble::after {
  content: "";
  width: 0;
  height: 0;
  border: 60px solid transparent;
  border-top-color: #4788c8;
  border-left: 0;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 100%; }

.section-border {
  border-bottom: 10px solid transparent;
  -webkit-border-image: url(../assets/images/Border-BG.jpg) 40 round;
  -o-border-image: url(../assets/images/Border-BG.jpg) 40 round;
  border-image: url(../assets/images/Border-BG.jpg) 40 round;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 15px; }
  .section-border__heading {
    position: absolute;
    display: block;
    background: #fafafa;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 18px; }

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px; }
  .service__item {
    margin: 15px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 15px; }

.icon-container {
  color: #ffffff;
  padding: 20px;
  background: #424242;
  background: #5b5b5b;
  background: #757575;
  background: -moz-radial-gradient(center, ellipse cover, #757575 0%, #424242 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #757575 0%, #424242 100%);
  background: -webkit-radial-gradient(center, ellipse, #757575 0%, #424242 100%);
  background: -o-radial-gradient(center, ellipse, #757575 0%, #424242 100%);
  background: radial-gradient(ellipse at center, #757575 0%, #424242 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#424242', GradientType=1);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 35px; }

.service-block__item:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #ffffff;
  cursor: pointer; }
  .service-block__item:hover .icon-container {
    background: #4788c8;
    color: #ffffff; }
  .service-block__item:hover .btn {
    display: none; }

.service-block__item:hover::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-top-color: #fff;
  border-left: 0; }

.image-container {
  width: 100%;
  height: auto; }

.image-container img {
  width: 100%;
  height: auto; }

.recent-works-section {
  margin: 86px 0; }

.recent-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px; }
  .recent-works__item {
    margin: 15px 15px; }

.recent-works__item {
  background: #ffffff; }

.text-block,
.text-block-dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px 30px;
  background: #ffffff;
  position: relative; }
  .text-block__title,
  .text-block-dev__title {
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    padding: 0 0 10px 0; }
  .text-block__text,
  .text-block-dev__text {
    font-size: 16px; }
  .text-block__tab,
  .text-block-dev__tab {
    margin-bottom: 30px; }
  .text-block__btn,
  .text-block-dev__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

.text-block::after {
  content: "";
  width: 0;
  height: 0;
  border: 60px solid transparent;
  border-top-color: #ffffff;
  border-left: 0;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 100%; }

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 35px 0 100px 0; }
  .testimonials__item {
    padding: 15px 15px;
    width: 50%;
    margin: 0 0 54px 0; }

.testimonial-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.testimonial-container {
  width: 66.66%; }

.development-container {
  width: 33.33%; }

.development {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 0; }
  .development__item {
    padding: 15px 15px;
    margin: 0 0 54px 0; }

.text-block-dev__tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .text-block-dev__tab ul li {
    border: 1px solid #414141;
    padding: 14px;
    background: #757575; }

button.btn--dev.tablink.tab-active {
  border: none; }

.tab-active {
  background: #4788c8;
  color: #ffffff; }

.footer-section {
  background: #414141; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer__item {
    margin: 60px 15px 15px 15px;
    width: 25%; }

.footer-text {
  margin: 20px 0;
  color: #9e9e9e; }
  .footer-text ul li {
    padding: 10px 0px;
    border-bottom: 1px solid #9e9e9e;
    cursor: pointer; }
  .footer-text li:last-child {
    border: none; }
  .footer-text ul li a {
    color: #9e9e9e;
    cursor: pointer; }
  .footer-text ul li a:hover {
    color: #4788c8; }
  .footer-text ul:last-child {
    border: none; }
  .footer-text p {
    margin: 20px 0; }

.flickr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 15px; }

.flicker__item {
  width: 60px;
  height: 60px;
  background: #181818;
  margin: 2px; }

.footer-bottom {
  background: #181818;
  color: #9e9e9e; }

.footer-bottom-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 15px;
  padding: 40px 0; }

.socil-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.socil-icon ul li {
  padding: 0 30px;
  background: #414141;
  padding: 8px 12px;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  font-size: 18px; }

.socil-icon ul li:hover {
  color: #414141;
  cursor: pointer;
  background: #ffffff; }

/* phone */
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 22px; }

  h2 {
    font-size: 20px; }

  p {
    font: 16px; }

  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0px 16px 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .header-content__info--regular {
      margin: 14px 0; }
    .header-content__image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .header-content__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 20px 0; }

  .header-content__image img {
    width: 60%; }

  .speech-bubble {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .speech-bubble__text {
      text-align: center;
      margin: 18px 0px 0px 0; }

  .btn {
    padding: 12px 26px; }

  .service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .recent-works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .recent-works__item {
      margin: 40px 15px; }

  .testimonial-main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .testimonials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .testimonials__item {
      width: 100%; }

  .testimonial-container,
  .development-container {
    width: 100%; }

  .development {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer__item {
      width: 100%;
      margin: 15px 0px 0 15px; }

  .flickr {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 15px; }

  .footer-bottom-conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer-bottom-conteiner__text {
      text-align: center;
      margin-bottom: 20px; }

  .responsive-margin {
    margin-top: 60px; } }
/* Porttait tablate */
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .service {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .service__item {
      width: 45%; } }
/*LandScap Tablate */
/* desktop */
/* large desktop */



/*# sourceMappingURL=main.css.map */